{% extends 'layout.html' %}

{% block title %}Profissional{% endblock %}

{% block content %}
    <h1>Currículo & Carreira </h1>
    <h2>Objetivo:</h2>
    <p>Busco uma oportunidade de estágio em TI para colocar em prática meus conhecimentos, <br> aprender com a equipe e contribuir com dedicação, responsabilidade e vontade de crescer profissionalmente.</p>

    <h2> Formação</h2>
    <ul>
        <li>Sebrae - 2024</li>
        <li> Escola COTEMIG - 2025 e 2026</li>
    </ul>

    <h2>Skills</h2>
    <ul>
        <li>Boa comunicação</li>
        <li>Trabalho em equipe </li>
        <li>Proativa</li>
        <li>Comprometimento</li>
        <li>Flexiva</li>
    </ul>

    <h2> Habilidades Técnicas:</h2>
    <ul>
        <li>Canva</li>
        <li> Pacote Office </li>
        <li>MySQL</li>
        <li>Python</li>
        <li>C#</li>
        <li>HTML e CSS</li>
    </ul>
{% endblock %}
