{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Olá, venha conhecer um pouco sobre mim! </h1>
    <p>Tenho 17 anos, tô no terceiro ano do ensino médio e cursando TI no COTEMIG.</p>
    
    <h2> O que eu curto fazer nas horas vagas:</h2>
    <ul>
        <li>Ler livros</li>
        <li>Ouvir música </li>
        <li>Assistir filmes/série</li>
        <li>Jogar algum jogo com meus amigos</li>
        <li>Ir na academia</li>
    </ul>
{% endblock %}
