{% extends 'layout.html' %}

{% block title %}Expectativas{% endblock %}

{% block content %}
    <h1>Expectativas de Vida </h1>
    <h2>Planos para os próximos anos:</h2>
    <ul>
        <li>Terminar o colégio sem pegar nenhuma recuperação final.</li>
        <li>Entrar na faculdade na área de TI ou arrumar um emprego de Dev Júnior rápido.</li>
        <li>Montar um setup gamer de respeito (com muito RGB, claro).</li>
        <li>Conseguir trabalhar de casa (home office) para acordar mais tarde.</li>
    </ul>
{% endblock %}
